# --- BACKEND (FastAPI & Base de données) ---
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart

# --- MOTEUR DE RECHERCHE IA ---
thefuzz
python-Levenshtein
rapidfuzz

# --- FRONTEND (Streamlit & Données) ---
streamlit
requests
pandas
openpyxl

# --- VISUELS & RAPPORTS ---
plotly
reportlab

# --- OCR (Scan de Pièces d'identité) ---
Pillow
pytesseract
