fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-dotenv
passlib[bcrypt]
thefuzz
python-Levenshtein
python-jose[cryptography]
python-multipart
streamlit
requests
pandas
plotly
reportlab
bcrypt==4.0.1
openpyxl
psycopg2-binary
passlib[bcrypt]
bcrypt


